html {
    width: 100%;
}

body {
    background: #fbf7f0;
    width: 100%
}

.header_layer {
    background: #fbf7f0;
    border-bottom: black solid 1px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    bottom: auto;
}

.logo {
    width: 64px;
    height: 64px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list_item {
    list-style: none;
    text-decoration: none;
}

.header_toggle-menu {
    display: none;
}

a {
    text-decoration: none;
}

main {
    padding-top: 100px;
}

.bigText {
    font-size: 7em;
}

h1 {
    text-align: center;
}

.stories_gird {
    display: grid;
}

.grid_instance {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 35px;
}

.image {
    width: 40em;
    height: 40em;
}

.pic {
    width: 40em;
    height: 40em;
}

.One {
    background-image: url(/images/pexels-david-eckernforde-1933620728-28810901.jpg);
    background-size: 40em 40em;
}

.Two {
    background-image: url(/images/pexels-drugwatcher-9551731.jpg);
    background-size: 40em 40em;
}

.Three {
    background-image: url(/images/pexels-farhad-5713746.jpg);
    background-size: 40em 40em;
}

.Four {
    background-image: url(/images/pexels-jordanr93-13133609.jpg);
    background-size: 40em 40em;
}

.Five {
    background-image: url(/images/pexels-repida-mihail-235373877-19814054.jpg);
    background-size: 40em 40em;
}

.Six {
    background-image: url(/images/pexels-rsapmech-12820057.jpg);
    background-size: 40em 40em;
}

.Seven {
    background-image: url(/images/pexels-vafphotos-15035577.jpg);
    background-size: 40em 40em;
}

.Eight {
    background-image: url(/images/pexels-yankrukov-6815665.jpg);
    background-size: 40em 40em;
}

.picText {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    background: #007354;
}

.footerContainer {
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 4em 3em;
}